<a href="https://colab.research.google.com/github/Anumeler/Anumeler/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hallo')

Hallo

In [ ]:
print("Hello")

Hello

Strings

In [ ]:
print("Hallo Welt")

Hallo Welt

In [ ]:
name = 'Anvar'
print('Ich bin ' + name)

Ich bin Anvar

In [ ]:
print('Ich bin ' + '5')

Ich bin 5

In [ ]:
age = 20 
print('Ich bin ' + str(age))

Ich bin 20

In [ ]:
 v = 'Hallo Welt'
 print(v)

Hallo Welt

In [ ]:
v = 15
print(v)

15

In [ ]:
v = str(15)
print(v)

15

In [ ]:
print("Du hast " + str(111) + " Cent")

Du hast 111 Cent

Listen

In [ ]:
student0 = "Mery"
student1 = "Komil"
student2 = "Hoshim"
student3 = "Usmon"

In [ ]:
students = ["Mery", "Komil", "Hoshim", "Usmon"]

In [ ]:
print(students)

['Mery', 'Komil', 'Hoshim', 'Usmon']

In [ ]:
students.append("Botir")

In [ ]:
print(students)

['Mery', 'Komil', 'Hoshim', 'Usmon', 'Botir']

In [ ]:
print(len(students))

5

In [ ]:
print(students[0])

Mery

In [ ]:
print(students[0] + " & " + students[4])

Mery & Botir

Listen - Die .pop

In [ ]:
planets = ["Merkur", "Venus","Erde","Pluto"]
planets.pop(0)
print(planets)

['Venus', 'Erde', 'Pluto']

In [ ]:
planets = ["Merkur", "Venus","Erde","Pluto"]
p = planets.pop()
print(p)

Pluto

Daten **umwandeln**

In [ ]:
a = "5"
b = "6"
print(a + b)

56

In [ ]:
a = "5"
b = "6"
print(int(a) + int(b))

11

In [ ]:
a = "5.5"
b = "6.6"
print(float(a) + float(b))

12.1

Liste -> String

In [ ]:
students = ["Mery", "Komil", "Hoshim", "Usmon"]
print("#".join(students))

Mery#Komil#Hoshim#Usmon

In [ ]:
students = ["Mery", "Komil", "Hoshim", "Usmon"]
print(", ".join(students))

Mery, Komil, Hoshim, Usmon

In [ ]:
students_as_string = ", ".join(students)
print("An unserer Uni studieren: " + students_as_string)

An unserer Uni studieren: Mery, Komil, Hoshim, Usmon

In [ ]:
zahlen = ["3", "4", "5", "7,0"]
print(",0; ".join(zahlen))

3,0; 4,0; 5,0; 7,0

String -> Liste

In [ ]:
i = "Mery, Komil, Hoshim, Usmon"
print(i.split())

['Mery,', 'Komil,', 'Hoshim,', 'Usmon']

In [ ]:
g = "Ich bin ein Satz mit vielen Wörtern"
print(g.split())

['Ich', 'bin', 'ein', 'Satz', 'mit', 'vielen', 'Wörtern']

In [ ]:
print(len(g.split()))

7

Abschluss Python Grundlagen

In [ ]:
#1) a.)
number = 6

result = (number * 2 + 10) / 2

print(result)

11.0

In [ ]:
#b.)
print(int(result))

11

In [ ]:
#c.)
print("Du hast " + str(number) + " ausgewählt, das Ergebnis ist " + str(int(result)) + "!")

Du hast 6 ausgewählt, das Ergebnis ist 11!

In [ ]:
#2) a.)

mail = "willy.wizard@zauberschule.de"

#d = mail.split(("@zauberschule.de")
#print("".join(d))

print(mail.split("@")[0])

willy.wizard

In [ ]:
mail0 = "info@helena-hexe.com"
#s = mail0.split("info@" + ".com")
#print(s.split(".com"))
 
print(mail0.split("@")[1].split(".")[0])

helena-hexe

In [ ]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "info@trixie-trickser.com"
mail3 = "uwe_unhold@dunkelnetz.de"

clients = [mail1,mail2,mail3]

print(clients)

['zarah.zauber@zauberberg.de', 'info@trixie-trickser.com', 'uwe_unhold@dunkelnetz.de']

In [ ]:
print(len(clients))

3

In [ ]:
zauberer = ["Buehnenzauberer", "magic.com"]


print("@".join(zauberer))

Buehnenzauberer@magic.com

Kontrollstrukturen

if / else

In [ ]:
n = 50
if n < 42:
  print("Die Zahl ist kleiner als 42")
else:
  print("ist nicht der Fall")

ist nicht der Fall

In [ ]:
age = 20 
if age < 18:
  print("Zutritt ist nicht erlaubt!")
else:
  print("Du kannst treten!")

Du kannst treten!

Vergleichsoperatoren / boolean

In [ ]:
if 6 < 5:
  print("Ja")

In [ ]:
print(6 < 5)
print(5 < 6)

False
True

In [ ]:
b = False
print(b)

False

In [ ]:
result = 5 < 6 
if result:
  print("5 ist kleiner als 6")

5 ist kleiner als 6

In [ ]:
print(5 < 6)

True

In [ ]:
print(5 > 6)
print(6 > 5)

True
False

In [ ]:
print(5 == 5)
print(5 == 6)

True
False

In [ ]:
print(5 != 5)
print(5 != 6)

False
True

In [ ]:
word = "Hallo"
print(word == "Hallo")
print(word == "Welt")

True
False

In [ ]:
word = "Hallo"
print(word != "Hallo")
print(word != "Welt")

False
True

In [ ]:
print(5 < 5)
print(5 <= 5)

False
True

In [ ]:
print(5 > 5)
print(5 >= 5)

False
True

Ausdrücke verknüpfen und Booleans

In [ ]:
age = 35

if age >= 30 and age <= 39:
  print(" Diese Person ist in ihren 30-ern")

 Diese Person ist in ihren 30-ern

In [ ]:
age = 45

if age < 30 or age > 40:
  print("Diese Person ist nicht in ihren 30-ern")

Diese Person ist nicht in ihren 30-ern

In [ ]:
age = 25
print(age < 30)

True

In [ ]:
above_30 = age >= 30
print(above_30)

False

In [ ]:
age = 25

above_20 = age >= 20
print(above_20)

if age >= 20:
  print("if-Abfrage wurde ausgeführt")

True
if-Abfrage wurde ausgeführt

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
country = "US"
age = 20

if (country == "US" and age < 21) or (country != "US" and age < 18):
  print("Diese Person darf nicht trinken")

Diese Person darf nicht trinken

Der in-Operator

In [ ]:
students = ["Monika", "", "", ""]

print("Monika" in students)
print("Moritz" in students)

True
False

In [ ]:
if "Monika" in students:
  print("Ja, die Monika studiert hier!")
else:
  print("Nein, die Monika studiert hier nicht!")

if "Moritz" in students:
  print("Ja, der Moritz studiert hier!")
else:
  print("Nein, der Moritz studiert hier nicht!")

Ja, die Monika studiert hier!
Nein, der Moritz studiert hier nicht!

In [ ]:
sentence = "Nein, der Mooritz studiert hier nicht!"

if "!" in sentence:
  print("Ja")
else:
  print("Nein")

Ja

Der not-Operator

In [ ]:
age = 25

if not age >= 30:
  print("ausgeführt")

if age < 30:
  print("ausgeführt")

ausgeführt
ausgeführt

In [ ]:
names = ["Max", "Nadine"]

if "Moritz" not in names:
  print("Moritz ist nicht in der Liste enthalten")

if not "Moritz" in names:
  print("Moritz ist nicht in der Liste enthalten")

Moritz ist nicht in der Liste enthalten
Moritz ist nicht in der Liste enthalten

Elif

In [ ]:
currency = "€"

if currency == "$":
  print("US-Dollar")
else:
  if currency == "¥":
    print("Japanisher Yen")
  else:
    if currency == "€":
      print("Euro")
    else:
      if currency == "฿":
        print("Thai Baht")

Euro

In [ ]:
currency = "HKD"

if currency == "$":
  print("US-Dollar")
elif currency == "¥":
  print("Japanisher Yen")
elif currency == "€":
  print("Euro")
elif currency == "฿":
  print("Thai Baht")
else:
  print("Sonst")

Sonst

# Die while-Schleife

In [ ]:
counter = 0

while counter < 10:
  print(counter)
  counter = counter + 1

  print("Hallo Welt")

0
Hallo Welt
1
Hallo Welt
2
Hallo Welt
3
Hallo Welt
4
Hallo Welt
5
Hallo Welt
6
Hallo Welt
7
Hallo Welt
8
Hallo Welt
9
Hallo Welt

Die for-Schleife

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
liste = [5, 8, 10]
for i in liste:
  print(i)

5
8
10

Wann welche Schleife

In [ ]:
counter = 0

while counter < 10: 
  print(counter)
  counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for counter in  range(0, 10):
  print(counter)

0
1
2
3
4
5
6
7
8
9

Schleifen (break, continue)

In [ ]:
i = 0
for i in range (0,10):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
i = 0

for i in range(0, 10):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):
  if i == 3:
    break
  print(i)

0
1
2

In [ ]:
liste = [4, 6, 7, 2, 4, 6, 7]
s = 0
for element in liste:
  s = s + element
  if s > 10:
    break
print(s)

17

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
def reverse_digits(raqam: int) -> int:  
 teskari_son = 0
 while (raqam != 0):
   soncha = raqam % 10
   teskari_son = teskari_son * 10 + soncha
   raqam /= 10 
   raqam = int(raqam)
 return teskari_son 
   
#reverse_digits(45)

reverse_digits(510)

15

In [ ]:
def reverse_digits(raqam: int) -> int:
 teskari_son = 0
 while(raqam>=1):
   soncha = raqam % 10
   teskari_son = teskari_son * 10 + soncha
   raqam /= 10 
   raqam = int(raqam)
 return teskari_son 
 
print(str(reverse_digits(3)),str(reverse_digits(154)),str(reverse_digits(710)),reverse_digits(600))

3 451 17 6

In [ ]:
def reverse_digits(raqam: int) -> int:
 teskari_son = 0
 while(raqam>=1):
   soncha = raqam % 10
   teskari_son = teskari_son * 10 + soncha
   raqam /= 10 
   raqam = int(raqam)
 return teskari_son 
 
print(reverse_digits(154))
print(reverse_digits(710))
print(reverse_digits(600))

451
17
6

In [ ]:
def reverse(number): 
  y=0 
  while(number>=1):
   z = number % 10
   y = 10 * y + z
   number = number / 10
   number = int(number)
  return y

#print(str(reverse(45)),reverse(56))
print(str(reverse(3)),str(reverse(154)),str(reverse(710)),reverse(600))

3 451 17 6

In [ ]:
temp = "{0:b}".format(6)

print(temp)

110

In [ ]:
def convert_to_binary(num: int) -> str:
    temp = "{0:b}".format(4)
    temp = "{0:b}".format(1)
    temp = "{0:b}".format(6)
    temp = "{0:b}".format(13)
    temp = "{0:b}".format(38)

In [ ]:
def convert_to_binary(num: int) -> str:
    return bin(num).replace("0b", "")

In [ ]:
def is_power_of_two(num: int) -> bool:
    return (num and (not(num & (num - 1))))

In [ ]:
def sum_of_odd_numbers(n: int) -> int:
 maximum = int(input(" Please Enter the Maximum Value : "))
 Oddtotal = 0
 
 for n in range(1, maximum+1):
    if(n % 2 != 0):
        print("{0}".format(n))
        Oddtotal = Oddtotal + n
 print("The Sum of Odd Numbers from 1 to {0} = {1}".format(n, Oddtotal))

sum_of_odd_numbers("")

 Please Enter the Maximum Value : 8
1
3
5
7
The Sum of Odd Numbers from 1 to 8 = 16

In [ ]:
def is_palindrome(word: str) -> bool:
    return word == word[::-1]

In [ ]:
import numpy
def merge_two_arrays(arr1: list[int], arr2: list[int]) -> list[int]:
   con = numpy.concatenate((arr1, arr2), sep=' ')
   print(con)

TypeError: ignored

In [8]:
class Node:
    def __init__(self, val: int):
        self.val = val
        self.next = None

def print_elements(head: Node) -> None:
 #self.head = ListNode(resls[0], None)
 head =[1 ,2, 3]
 print(head)                       
 print(str(head).replace(" ",""))

print(print_elements())

TypeError: ignored